*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'fira code';
    color: rgb(255, 255, 255);
}
html,
body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #000000;
}

/* ab isme ham sirf background ko styling denge because 2 or more elements me clashing ho skti hai */